In [402]:
# Pattern: Right Triangle
# Pattern: Inverted Right Triangle
# Pattern: Pyramid
                                        # Pattern: Hollow Pyramid
# Pattern: Diamond
# Pattern: Numeric Right Triangle
                                        # Pattern: Floyd's Triangle
                                        # Pattern: Pascal's Triangle
# Pattern: Half Pyramid of Numbers
# Pattern: Half Pyramid of Numbers
                                        # Pattern: Hollow Diamond
# Pattern: Sandglass Pattern
# Pattern: Hourglass Pattern
# Pattern: Butterfly Pattern
                                        # Pattern: Hollow Butterfly Pattern
# Pattern: Number Pyramid
                                        # Pattern: Hollow Number Pyramid
                                        # Pattern: Palindromic Pattern
# Pattern: Zigzag Pattern
                                        # Pattern: Character Pattern

In [403]:
# right angle triangle using stars

# *
# **
# ***
# ****
# *****

In [404]:
row = 5

for value_row in range(1,row+1):
    print('*' * value_row)

*
**
***
****
*****

In [405]:
# * 
# * * 
# * * * 
# * * * * 
# * * * * *

In [406]:
row = 5

for value_row in range(1,row+1):
        print('* '*value_row)

*
* *
* * *
* * * *
* * * * *

In [407]:
# * 
# * * 
# * * * 
# * * * * 
# * * * * *

In [408]:
row = 5

for value_row in range(1,row+1):
    for value_count in range(1,value_row+1):
        print('*',end=' ')
    print()

*
* *
* * *
* * * *
* * * * *

In [409]:
#     *
#    **
#   ***
#  ****
# *****

In [410]:
row = 5
for value_row in range(1,row+1):
    print(' '*(row-value_row)+'*'*value_row)

    *
   **
  ***
 ****
*****

In [411]:
# *****
#  ****
#   ***
#    **
#     *

In [412]:
row = 5
for value_row in range(1,row+1)[::-1]:
    print(' '*(row-value_row)+'*'*value_row)

*****
 ****
  ***
   **
    *

In [413]:
row = 5

for value_row in range(1,row+1):
    print(' ' * (row-value_row) + '* ' * value_row)

    *
   * *
  * * *
 * * * *
* * * * *

In [414]:
#        * 
#      * * * 
#    * * * * * 
#  * * * * * * * 
# * * * * * * * * *

In [415]:
row = 5
for value_row in range(1,row+1):
    print('  ' * (row-value_row) + ' *' * (value_row*2-1))

         *
       * * *
     * * * * *
   * * * * * * *
 * * * * * * * * *

In [416]:
row = 5

for value_row in range(1,row+1):
    print('  ' * (row-value_row) + '* ' * (value_row * 2-1))

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

In [417]:
# 1 
# 1 2 
# 1 2 3 
# 1 2 3 4 
# 1 2 3 4 5

In [418]:
row = 5

for value_row in range(1,row+1):
    for value_count in range(1,value_row+1):
        print(value_count,end=' ')
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [419]:
# 1 
# 2 2 
# 3 3 3 
# 4 4 4 4 
# 5 5 5 5 5

In [420]:
row = 5

for value_row in range(1,row+1):
    for value_count in range(1,value_row+1):
        print(value_row,end=' ')
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [421]:
# 1 2 3 4 5 
# 1 2 3 4 
# 1 2 3 
# 1 2 
# 1

In [422]:
row = 5

for value_row in range(1,row+1)[::-1]:
    for value_count in range(1,value_row+1):
        print(value_count,end=' ')
    print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [423]:
# 5 5 5 5 5
# 4 4 4 4
# 3 3 3 
# 2 2
# 1

In [424]:
row = 5

for value_row in range(1,row+1)[::-1]:
    for value_count in range(1,value_row+1):
        print(value_row,end=' ')
    print()

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [425]:
# A
# A B
# A B C
# A B C D
# A B C D E

In [426]:
row = 5

for value_row in range(1,row+1):
    for value_count in range(1,value_row+1):
        print(chr(65+value_count-1),end=' ')
    print()

A
A B
A B C
A B C D
A B C D E

In [427]:
# A
# B B
# C C C
# D D D D
# E E E E E

In [428]:
row = 5

for value_row in range(1,row+1):
    for value_count in range(1,value_row+1):
        print(chr(65+value_row-1),end=' ')
    print()

A
B B
C C C
D D D D
E E E E E

In [429]:
# E E E E E 
# D D D D 
# C C C 
# B B 
# A

In [430]:
row = 5

for value_row in range(1,row+1)[::-1]:
    for value_count in range(1,value_row+1):
        print(chr(65+value_row-1),end=' ')
    print()

E E E E E
D D D D
C C C
B B
A

In [431]:
#     *
#    ***
#   *****
#  *******
# *********
#  *******
#   *****
#    ***
#     *

In [432]:
row = 5
for value_row in range(1,row+1):
    print(' ' * (row-value_row) + '*' * (value_row*2-1))
for value_row in range(row -1,0,-1):
    print(' ' * (row-value_row) + '*' * (value_row*2-1))

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

In [433]:
row = 5
for value_row in range(1,row+1):
    for value_count in range(1,value_row+1):
        print('*',end='')
    print()
for value_row in range(1,row+1)[::-1]:
    for value_count in range(1,value_row+1):
        print('*',end='')
    print()

*
**
***
****
*****
*****
****
***
**
*

In [434]:
# *        *
# **      **
# ***    ***
# ****  ****
# **********
# ****  ****
# ***    ***
# **      **
# *        *

In [435]:
row = 5 

for value_row in range(1,row+1):
    print('*'*value_row + '  '*(row-value_row) + '*'*value_row)
for value_row in range(row -1,0,-1):
    print('*'*value_row + '  '*(row-value_row) + '*'*value_row)

*        *
**      **
***    ***
****  ****
**********
****  ****
***    ***
**      **
*        *

In [436]:
# *********
#  *******
#   *****
#    ***
#     *
#    ***
#   *****
#  *******
# *********

In [437]:
row = 5 
for value_row in range(1,row+1)[::-1]:
    print(' '*(row-value_row) + '*' * (value_row*2-1))
for value_row in range(1,row+1):
    print(' '*(row-value_row) + '*' * (value_row*2-1))

*********
 *******
  *****
   ***
    *
    *
   ***
  *****
 *******
*********